<div class="row row-cols-1 row-cols-md-3 mb-3 text-center d-flex justify-content-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal"> ROSÉ</h4>
        </div>
        <div class="card-body">
            <img src="https://res.cloudinary.com/ditbeukyz/image/upload/w_600,f_auto/r3odl4djkhidgv38arnq.jpg?cratio=1438x2000" alt="" width="100%"  class="rose">      
          <button type="button_buy_rose" class="w-100 btn btn-outline-light btn-lg">
            <a href="https://www.amazon.com.mx/Argentino-Elaborado-Mendoza-Contenido-Mililitros/dp/B09887LK7H?ref_=ast_sto_dp">
                COMPRAR
            </a>
          </button>
        </div>
      </div>
    </div>

    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm d-flex">
          <div class="card-header py-3 d-flex justify-content-center">
            <h4 class="my-0 fw-normal">MALBEC</h4>
          </div>
          <div class="card-body central-block">
            <img src="https://res.cloudinary.com/ditbeukyz/image/upload/w_600,f_auto/avglzibgww6uodxb6t2g.jpg?cratio=1438x2000" alt="" width="100%"  class="rose">      
            <button type="button_buy_malbec" class="w-100 btn btn-outline-light btn-lg">
                <a href="https://www.amazon.com.mx/Argentino-Elaborado-Azulados-Contenido-Mililitros/dp/B098882QKV?ref_=ast_sto_dp">
                  COMPRAR  
                </a>      
            </button>              
          </div>
        </div>
    </div>
</div>
<h2 class="display-6 text-center mb-4">Compare os Vinhos</h2>  
<div class="table-responsive">
    <table class="table text-center">
      <thead>
        <tr>
          <th style="width: 34%;"></th>
          <th style="width: 22%;">Rosé</th>
          <th style="width: 22%;">Malbec</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="text-start">Composição</th>
          <td> 100% Malbec</td>
          <td>100% Malbec</td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Fonte</th>
          <td>Mendoza, Argentina</td>
          <td>Valle de Uco, Mendoza, Argentina</td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <th scope="row" class="text-start">Colheita</th>
          <td>Manual</td>
          <td>Colheita manual em caixas de plástico ou caixotes durante a última semana de abril</td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Teor Alcólico</th>
          <td>13% Vol</td>
          <td>15% Vol</td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Cor</th>
          <td>Vinho rosa pálido com tons salmão delicados e vivos.</td>
          <td>Violeta escuro, com reflexos azulados.</td>
        </tr>
        <tr>
          <th scope="row" class="text-start">Aromas</th>
          <td>Notas de frutas vermelhas como morangos, framboesas e groselhas.</td>
          <td>Aromas típicos de Malbec, com perfil frutado e fresco que lembra frutas vermelhas e pretas como cerejas, ameixas e amoras.</td>
        </tr>
        <tr>
            <th scope="row" class="text-start">Sabor</th>
            <td>Agradável ao paladar e percebe-se um excelente equilíbrio entre acidez e estrutura, além de seu bom volume com um final longo e agradável.</td>
            <td>Corpo médio, com taninos amigáveis ​​e acidez equilibrada. Final frutado e picante.</td>
          </tr>
      </tbody>
    </table>
  </div>   