<header class="d-flex flex-wrap justify-content-center py-3 mb-10 border-bottom p-3 text-bg-dark">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <img src="https://res.cloudinary.com/ditbeukyz/image/upload/w_300,f_auto/v7qru6th67zggyzya6ww.png?cratio=712x125"alt="" width="120" height="21">
  </a>
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="#" class="nav-link">INÍCIO</a></li>
    <li class="nav-item"><a href="#" class="nav-link">NOTA DE DEGUSTAÇÃO</a></li>
    <li class="nav-item"><a href="#" class="nav-link">SOBRE OS VINHOS</a></li>
    <li class="nav-item"><a href="#" class="nav-link">FOTOS</a></li>
    <li class="nav-item"><a href="https://sparawines.com/" class="nav-link">ESP</a></li>
  </ul>
</header>
