<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      </ul>
      <p class="text-center text-muted">&copy; Todos os direitos reservados | SPARA 2022.</p>
    <p class="text-center text-muted"><em>A marca Spara serviu como inspiração para elaboração do exercício.</em></p>
    <p class="text-center text-muted"><em>Esta página não possui valor comercial.</em></p>
    <p class="text-center text-muted"> &copy; GDumard.</p>
    </footer>
  </div>
    
    